/***** GERAL *****/

body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

.Container {
	width: 100%;
	margin: 0 auto;
}


.ContainerConteudo {
	width: 1150px;
	margin: 0 auto;
}

.direita {
	float: right;
}

.esquerda {
	float: left;
}

.Esconder {
	display: none;
}



/***** HEADER *****/

.HeaderMenuSup {
	background-color: #232323;
	font-size: 12px;
	overflow: hidden;
}

.HeaderMenuSup a {
	color: #fff;
	padding: 8px 17px;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
   -moz-transition: .25s ease-in-out;
   -webkit-transition: .25s ease-in-out;
}

.HeaderMenuSup a:hover {
	background-color: #101010;
	color: #ffc600;
}

.HeaderMenuSup li {
	display: inline-block;
	padding: 10px 0px;
}

.HeaderDisplay {
	display: inline-block;
	text-transform: uppercase;
}

.HeaderDivulgue a {
	background-color: #101010;
	color: #ffc600;
}

.HeaderDivulgue a:hover {
	background-color: #ffc600;
	color: #000;
}


/***** BANNER PRINCIPAL *****/

.BgCidade {
	background-image: url(../../files/uploads/BgGuaianases.jpg);
	height: 470px;
	background-size: cover;
	width: 100%;
}

.BannerPrincipalBarraBusca {
	padding-top: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
	width: 1150px;
}


	.BannerPrincipalBarraBusca .esquerda{
		-webkit-box-flex:1;
		    -ms-flex-positive:1;
		        flex-grow:1;
		margin-right:30px	
	}
	.BannerPrincipalBarraBusca .direita{
		-webkit-box-flex:2;
		    -ms-flex-positive:2;
		        flex-grow:2;
		margin-right:20px;
	}
	.BannerPrincipalBgBusca form{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
	}
	.BannerPrincipalBgBusca input[type='text']{
		width:80%;
		margin-right:5px;
	}



.BannerPrincipalBgBusca {
	background-color: #192d46;
	padding: 15px;
	margin-top: 25px;
}

input[type="text"] {
	border-radius: 3px;
	border: none;
	height: 35px;
	width: 350px;
	padding: 5px 13px;
}

select#Categoria {
	border-radius: 3px;
	border: none;
	height: 45px;
	color: #999;
	padding: 0px 10px;
}

input[type="submit"] {
	background-color: #ffc000;
	border-radius: 3px;
	border: none !important;
	color: #fff;
    padding: 12px 45px 18px 14px;
    cursor: pointer;
    background-image: url('/media/1006/lupabuscar.png');
    background-repeat: no-repeat;
    background-position-y: 9px;
    background-position-x: 15px;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
   -moz-transition: .25s ease-in-out;
   -webkit-transition: .25s ease-in-out;
}

input[type="submit"]:hover {
	background-color:#ffa500; 
}



button[type="button"] {
	background-color: #ffc000;
	border-radius: 3px;
	border: none;
	color: #fff;
    padding: 27px 45px 18px 14px;
    cursor: pointer;
    background-image: url('/media/1006/lupabuscar.png');
    background-repeat: no-repeat;
    background-position-y: 9px;
    background-position-x: 15px;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
   -moz-transition: .25s ease-in-out;
   -webkit-transition: .25s ease-in-out;
}

button[type="button"]:hover {
	background-color:#ffa500; 
}

.BannerPrincipalCategorias {
	padding-top: 80px;
    width: 1150px;
    margin: 0 auto;
}

.BannerPrincipalCategorias h1 {
	text-align: left;
	font-size: 18px;
	color: #ffc000;
	padding-bottom: 12px;
	margin-bottom: 27px;
    border-bottom: 1px solid #66717d;
}

.BannerPrincipalLinks img {
	margin-right: 10px;
}

.BannerPrincipalLinks a {
	color: #fff;
}

.BannerPrincipalLinks a:hover {
    color: #ffc000;
    text-decoration: underline;
}
.BannerPrincipalLinks{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	display: -webkit-flex;
}
.BannerPrincipalLinks ul {
	margin-left: 40px;
    margin-top: 9px;
    line-height: 20px;
}

.BannerPrincipalLinks ul li a {
    color: #fff;
    font-size: 12px;
}

.BannerPrincipalLinks ul li a:hover {
    color: #ffc000;
    text-decoration: underline;
}

.BannerPrincipalLinksEspaco {
	margin-right: 17px;
    width: 15%;
}


/***** DESTAQUE PRINCIPAL *****/

.DestaquePrincipal {
	margin-top: 90px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.DestaquePrincipalPosition {
	position: relative;
	float: left;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 25%;
	overflow: hidden;
	padding:6px 6px 0 0;
}

.DestaquePrincipal h2 {
	font-size: 27px;
	color: #36558d;
	margin-bottom: 20px;
}

.DestaquePrincipal span {
	position: absolute;
	bottom: 35px;
	left: 12px;
	background-color: #ffc000;
	padding: 9px 20px;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.DestaquePrincipal span a {
	color: #fff;
    font-size: 20px;
    font-weight: 600;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.DestaquePrincipal span:hover {
	background-color: #ffa500;
}

.DestaquePrincipal img {
	font-size: 27px;
	color: #36558d;
	margin-bottom: 20px;
	margin-right: 6px;
}
.DestaquePrincipalMenor a{
	margin: 0px;
	display: block;
	overflow: hidden;
	height: 331px; 
}
.DestaquePrincipalMenor img {
	/* width: 100%; */
	min-width: 100%;
	/* height: 331px; */
	margin: 0px;
}

.DestaquePrincipalMenor span {
	position: absolute;
	/* margin: -70px 0 0 12px; */
	background-color: #ffc000;
	padding: 9px 20px;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.DestaquePrincipalMenor span a {
	color: #fff;
	font-size: 20px;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	height: auto;
}

.DestaquePrincipalMenor span:hover {
	background-color: #ffa500;
}

/***** CUPONS DE DESCONTO *****/

.HomeTitulos {
	margin-top: 66px;
}

.HomeTitulos h3 {
	font-size: 40px;
	font-weight: 300;
	color: #000;
	margin-bottom: 17px;
}

.HomeCupons {
	border: 1px solid #e3e3e3;
	font-size: 75px;
	color: #ffba00;
	background-color: #fff;
	text-align: center;
	padding: 5px 0;
	height: 217px !important;
}

.HomeCupons p {
	font-size: 25px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 12px;
}

.HomeCupons h4 {
	font-size: 15px;
    color: #000;
}




/***** CARROSSEL *****/

.CarrosselGeral {
	position: relative; 
	top: 0px; 
	left: 0px;
	margin-top: 10px;
	width: 1150px; 
	height: 240px; 
	overflow: hidden;
}

.CarrosselLoading {
	position: absolute; 
	top: 0px; 
	left: 0px;
}

.CarrosselImagens {
	cursor: move; 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	width: 1150px; 
	height: 250px; 
	overflow: hidden;
}

/***** PUBLICIDADE *****/

.Publicidade {
	padding: 50px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.Publicidade img {
	margin-right: 9px;
	width: 370px;
    height: 370px;
    border: 1px solid #e6e6e6;
}


/***** DESCONTO MERCADO *****/

.ProdutoDesconto {
	border: 1px solid #e3e3e3;
    text-align: center;
    padding: 5px 0 0 0;
	background: #fff;
}

.ProdutoDesconto a img {
	max-height: 134px;
	max-width: 220px; 
}

.ProdutoDesconto h4 {
	font-size: 13px;
	color: #3c3c3c;
    margin-top: 14px;
}

.ProdutoDesconto h5 a {
	font-size: 12px;
	color: #1f499f;
}

.ProdutoDesconto h5 a:hover {
	text-decoration: underline;
}

.ProdutoDesconto h5 {
    margin-top: 7px;
}

.ProdutoDesconto span {
	position: absolute;
	top: 5px;
	left: 5px;
}

.ProdutoPreco {
	background-color: #f9f9f9;
    margin-top: 15px;
    padding: 9px 0;
    font-size: 20px;
    color: #1f499f;
    font-weight: 600;
}

.ProdutoPreco h6 {
	font-size: 12px;
	color: #797979;
	text-decoration: line-through;
	margin-bottom: 7px;
}

.ProdutoImagem {
	width: 220px;
    height: 134px;
	margin: auto;
}

.ProdutoOfertaValida {
	background-color: #1f499f;
	font-size: 10px;
	color: #fff;
	padding: 5px 0;
}


/***** EMPRESA EM DESTAQUE *****/

.EmpresaDestaque {
	width: 33.3%;
	padding: 28px 20px 20px 0;
	float: left;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.EmpresaDestaque:nth-child(3n+0) {
	padding-right: 0px;
}
.EmpresaDestaqueLogo {
	border: 1px solid #dbdada;
    width: 120px;
    height: 75px;
    float: left;
    text-align: center;
    margin-right: 13px;
}

.EmpresaDestaqueFoto {
	margin-bottom: 15px;
	overflow: hidden;
}

.EmpresaDestaqueFoto img {
	width: 363px;
    height: 223px;
}

.EmpresaDestaqueLogo img {
    max-width: 120px;
    max-height: 75px;
}

.EmpresaDestaqueInfo {
	padding: 10px 0;
}

.EmpresaDestaqueInfo p a {
	font-size: 21px;
	color: #000;
}

.EmpresaDestaqueInfo p a:hover {
	color: #1f499f;
}

.EmpresaDestaqueInfo span a {
	font-size: 13px;
	color: #404040;
}

.EmpresaDestaqueInfo span a:hover {
	text-decoration: underline;
}


/***** NAVEGUE CATEGORIAS RODAPE *****/

.BannerRodapeCategorias {
	padding-top: 80px;
    width: 1150px;
    margin: 0 auto;
}

.BannerRodapeCategorias h1 {
	text-align: left;
    font-size: 18px;
    color: #1f499f;
    padding-bottom: 12px;
    margin-bottom: 27px;
    border-bottom: 1px solid #d5d5d5;
}

.BannerRodapeLinks img {
	margin-right: 10px;
}

.BannerRodapeLinks a {
	color: #000;
}

.BannerRodapeLinks a:hover {
    color: #ffc000;
    text-decoration: underline;
}

.BannerRodapeLinks ul {
	margin-left: 40px;
    margin-top: 9px;
    line-height: 20px;
}

.BannerRodapeLinks ul li a {
    color: #000;
    font-size: 12px;
}

.BannerRodapeLinks ul li a:hover {
    color: #ffc000;
    text-decoration: underline;
}

/***** TOPO BUSCA INTERNAS *****/

.BgTopoBuscaInterna {
	background-color:#234f86;
}

.InternaBarraBusca {
	padding: 12px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 1150px;
}

.InternaBarraBusca img {
	margin-right: 120px;
}

.InternaBgBusca {
	background-color: rgba(25, 45, 70, 0);
}

.SuperBanner {
	text-align: center;
    padding: 25px 0;
}

/***** RODAPÃ‰ *****/

footer {
	background-color: #232323;
	margin-top: 70px;
	padding-bottom: 40px;
	overflow: hidden;
}

.rodape {
	padding: 25px 0;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}

.RodapeModulo {
	/* float: left; */
}

.RodapeBlocoUm {
	-webkit-box-flex: 0;
	    -ms-flex-positive: 0;
	        flex-grow: 0;
	width: 24%;
	font-size: 11px;
	color: #fff;
	line-height: 16px;
}
.RodapeBlocoDois{
	-webkit-box-flex: 2;
	    -ms-flex-positive: 2;
	        flex-grow: 2;
}
.RodapeBlocoTres {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
.RodapeBlocoQuatro {
	-webkit-box-flex: 0;
	    -ms-flex-positive: 0;
	        flex-grow: 0;
}
.RodapeBlocoUm img {
	margin-bottom: 15px;
}

.RodapeBlocoDois {
	font-size: 11px;
	color: #fff;
	line-height: 16px;
}

.RodapeBlocoDois ul {
	padding: 71px 0 0 47px;
}

.RodapeBlocoDois ul li a {
	font-size: 13px;
    color: #ffc000;
    line-height: 23px;
}

.RodapeBlocoDois ul li a:hover {
	text-decoration: underline;
}

.news_rodape .form-control {
    width: 149px;
    margin-right: 5px;
    border: none;
}

.news_rodape fieldset {
	float:left;
}

.news_rodape .form-group {
    float: left;
}

.RodapeBlocoTres {
	padding-top: 71px;
	color: #ffae00;
	font-size: 13px;
}

.RodapeInput {
	width: 160px !important;
	margin-top: 12px;
}

.RodapeButton {
	background-image: none !important;
	padding: 15px !important;
}

.RodapeBlocoQuatro {
	padding-top: 90px;
	margin-left: 20px;
}

.RodapeBlocoQuatroBorda {
	border: 1px solid #fff;
	padding: 11px 7px 10px 12px;
    border-radius: 6px;
   	color: #fff;
	font-size: 12px;
}

.RodapeBlocoQuatro img {
	margin-left: 7px;
}

.RodapeBlocoQuatro a:hover {
	opacity: 0.7;
}

/***** BREADCRUMB e FILTRO *****/

.BreadCrumb {
	font-size: 11px;
	color: #454545;
	padding-bottom: 10px;
	border-bottom: 1px solid #d6d6d6;
}

.BreadCrumb a {
	color: #454545;
}

.BreadCrumb a:hover {
	color: #ffc000;
	text-decoration: underline;
}

.ResultadoTituloOrdem {
	background-color: #f5f5f5;
	padding: 11px 0px;
	font-weight: 600;
	color: #454545;
	display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

.ResultadoTituloOrdem span {
	font-size: 12px;
	vertical-align: -webkit-baseline-middle;
	margin-left: 15px;
}

select#Ordenar {
	border-radius: 3px;
	border: none;
	height: 30px;
	color: #999;
	padding: 0px 10px;
	margin-right: 15px;
}

/***** FILTRO ACCORDION *****/

#accordianmenu {
	background: #f7f7f7;
	width: 220px;
	margin: 0 14px 0 0;
	color: black;
	border: 1px solid #d8d8d8;
}
#accordianmenu p {
	font-size: 12px;
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;
    margin:0;
    font-weight: 600;
	background: #fff; 
}
#accordianmenu p:hover {
	background: #ececec;
}
#accordianmenu li {
	list-style-type: none;
	background: #f7f7f7;
}

#accordianmenu ul ul li a {
	color: #3e3e3e;
	text-decoration: none;
	font-size: 11px;
	line-height: 27px;
	display: block;
	padding: 0 10px 0 20px;
}
#accordianmenu ul ul li a:hover {
	background: #ffc000;
	color:white;
}
#accordianmenu ul ul {
	display: none;
}
#accordianmenu li.active ul {
	display: block;
}

/***** RESULTADO FORNECEDORES FICHAS *****/

.ResultListaFornecedores {
	width: 60%;
	margin-right: 23px;
}

.ResultFichaFornecedor {
	border: 1px solid #dddddd;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 16px;
}

.ResultFichaFornecedor a img {
	width: 147px;
    padding: 16px;
}

.ResultFichaInfo {
	float: left;
	width: 70%;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
   -moz-transition: .25s ease-in-out;
   -webkit-transition: .25s ease-in-out;
}

.ResultFichaInfo:hover {
	background-color: #f7f7f7;
}

.ResultFichaInfo img {
	padding: 15px;
	float: left;
	max-width: 116px;
    max-height: 75px;
}

.ResultFichaInfo h1 {
    padding: 12px 5px 5px 13px;
}

.ResultFichaInfo h1 a {
	font-size: 22px;
    color: #000;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
   -moz-transition: .25s ease-in-out;
   -webkit-transition: .25s ease-in-out;
}

/*.ResultFichaInfo h1 a:hover {
    color: #fff;
}*/

.ResultFichaInfo h2 {
	font-size: 11px;
    line-height: 14px;
    width: 97%;
    margin-bottom: 14px;
	width: 94%;
    padding: 0 15px;
}

.ResultFornecedorBtn {
    padding-left: 12px;
}

.ResultFornecedorBtn a {
	color: #fff;
	background-color: #234f86;
	padding: 5px 19px;
    border-radius: 3px;
    font-size: 11px;
}

.ResultFichaMaisInfo {
	background-color: #f7f7f7;
	padding: 15px 15px 5px 15px;
	width: 45%;
}

.ResultFichaIcons {
	margin-bottom: 22px;
	color: #353535;
	font-size: 11px;
}

.ResultFichaIcons img {
	float: left;
	margin-right: 5px;
}

.ResultFichaIcons span {
	font-size: 15px;
}

.ResultFichaIcons a {
	color: #353535;
}

.ResultFichaIcons a:hover {
	color: #ffc000;
	text-decoration: underline;
}

.BannerSky img {
	margin-bottom: 20px;
}

/***** FICHA DA EMRPESA *****/

.FichaEmpresaInfo {
	padding: 25px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.FichaEmpresaInfo h1 {
	font-size: 36px;
	margin-bottom: 9px;
}

.FichaEmpresaInfo h2 {
    font-size: 13px;
    line-height: 17px;
    color: #828282;
}

.FichaEmpresaLogo img {
	padding-right: 20px;
	float: left;
	width: 200px;
}

.FichaEmpresaTexto {
	width: 45%;
	margin-right: 17px;
}

.FichaEmpresaContatos {
	border: 1px solid #cdcdcd;
	width: 35%;
}

.FichaEmpresaContatosTitulo {
	background-color: #656565;
    color: #fff;
    padding: 10px;
    font-size: 14px;
}

.ResultFichaMaisInfoInterna {
	background-color: #f7f7f7;
	padding: 15px 15px 5px 15px;
}

.FichaEmpresaAbas {
	margin-top: 25px;
}

.FichaEmpresaInfoSec {
	margin-top: 35px;
}

.FichaEmpresaAvalieAvatar {
	margin-top: 20px;
}

.FichaEmpresaAvalie {
	border: 1px solid #d9d9d9;
    padding: 20px 15px;
	margin-right: 20px;
	width: 27%;
}

.FichaEmpresaAvalie img {
	margin-right: 8px;
	float: left;
}

textarea#Avalie {
	height: 100px;
	border: 1px solid #d2d6d9;
    width: 80%;
	font-size: 12px;
	color: #717171;
}

.FichaEmpresaBtn {
    float: right;
    margin-top: 10px;
}

.FichaEmpresaBtn a {
	font-size: 13px;
	padding: 8px 23px;
    color: #fff;
	background-color: #ffc000;
}

.FichaEmpresaBtn a:hover {
	background-color: #ffa500;
}

.FichaEmpresaMapa {
	border: 1px solid #d2d6d9;
	float: left;
	width: 100%;
}

.FichaEmpresaProduto {
    width: 20%;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

.FichaEmpresaOferta {
    width: 20%;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    position: relative;
}

.FichaEmpresaOferta {
	
}



/* ABAS */

/* Style the list */
ul.w3-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.w3-navbar li {float: left;}

/* Style the links inside the list items */
ul.w3-navbar li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 27px;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 14px;
}

/* Change background color of links on hover */
ul.w3-navbar li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.w3-navbar li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.AbaEmpresa {
    display: none;
    padding: 40px 0;
    border-top: none;
}

.AbaEmpresa {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.AbaEmpresa h2 {
	font-size: 30px;
    font-weight: 300;
	margin-bottom: 15px;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}



/***** CUPONS DE DESCONTO *****/

.CuponsTitulo {
	background-color: #373737;
    padding: 11px 0px;
    font-weight: 600;
    color: #454545;
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

.CuponsTitulo span {
	font-size: 22px;
    vertical-align: -webkit-baseline-middle;
    margin-left: 15px;
    color: #fff;
}

select#OrdenarCupons {
	border-radius: 3px;
    border: none;
    height: 30px;
    color: #999;
    padding: 0px 10px;
    margin-right: 15px;
}

.CuponsDescontos {
	border: 1px solid #e8e8e8;
    padding: 21px 18px;
    margin-right: 20px;
	margin-bottom: 25px;
}

.CuponsDescontosImg {

}

.CuponsDescontosImg img {
	margin-right: 20px;
	max-width: 307px;
}

.CuponsDescontosImg span {
    text-align: center;
    padding: 11px 13px;
    color: #ffba00;
    font-size: 60px;
}

.CuponsDescontosImg span p {
	color: #000;
	font-size: 18px;
    font-weight: 300;
}

.CuponsDescontosInfo {
	width: 40%;
	margin-right: 20px;
}

.CuponsDescontosInfo h2 {
	color: #242323;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

.CuponsDescontosInfo h3 {
    font-size: 15px;
    color: #737373;
    line-height: 19px;
    margin-bottom: 20px;
}

.CuponsDescontosInfo a {
	color: #1d4a81;
	text-transform: uppercase;
    font-size: 14px;
}

.CuponsDescontosInfo a:hover {
	text-decoration: underline;
}

.CuponsDescontosBtn {
	padding: 25px 0;
}

.CuponsDescontosBtn a {
    padding: 15px 33px;
    background-color: #184984;
    color: #fff;
    font-size: 13px;
	text-transform: uppercase;
	border-radius: 5px;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
   -moz-transition: .25s ease-in-out;
   -webkit-transition: .25s ease-in-out;
}

.CuponsDescontosBtn a:hover {
    background-color: #103b6f;
}


/***** DIVULGUE SUA EMPRESA *****/

.AnuncieLogotipo {
	text-align: center;
    margin: 21px 0;
}

.BannerAnuncie {
	height: 300px;
	padding: 100px;
	background-size: cover;
}

.BannerAnuncie h1 {
	font-size: 45px;
	font-weight: 800;
	color: #595959;
	width: 50%;
	margin-bottom: 32px;
}

.BannerAnuncie h1 span {
	color: #ffab00;
}

.BannerAnuncie h2 {
	width: 41%;
    color: #3a3a3a;
    line-height: 28px;
    font-size: 18px;
}

.AnuncieFormatos {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.AnuncieFormatos h3 {
	color: #3b3b3b;
	font-size: 38px;
	font-weight: 800;
	margin-bottom: 47px;
}

.AnuncieFormatos img {
	margin-right: 30px;
}

.AnuncieFormatos h4 {
	text-align: left;
	color: #ffd200;
	font-size: 23px;
	font-weight: 600;
	margin-bottom: 26px;
	line-height: 28px;
}

.AnuncieFormatos p {
	text-align: left;
    color: #333232;
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 22px;
}

.AnuncieBtn {
	text-align: left;
}

.AnuncieBtn a {
	background-color: #ffc000;
    padding: 10px 53px;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
   -moz-transition: .25s ease-in-out;
   -webkit-transition: .25s ease-in-out;
}

.AnuncieBtn a:hover {
	background-color: #ff9900;
}

.AnunciePlanosBg {
	background-color: #f0f0f0;
}

.AnunciePlanos {
    padding: 55px 0;
	text-align: center;
}

.AnunciePlanos h3 {
	color: #3b3b3b;
	font-size: 38px;
	font-weight: 800;
	margin-bottom: 47px;
}

/* TABELA PLANOS */

.AnuncieTabelaPlanos {
	width: 100%;
}

.AnuncieTabelaPlanosTitulo {
    background-color: #232323;
    padding: 11px 0px;
    text-align: center;
    color: #ffde00;
}

.AnuncieTabelaPlanosInfo {
	background-color: #464646;
    padding: 11px 0px;
    text-align: center;
    color: #fff;
    border: 1px solid #232323;
}

.AnuncieTabelaPlanosItens td {
	padding: 13px;
	font-size: 14px;
    background-color: #fff;
	border-top: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    color: #292929;
}

.AnuncieTabelaPlanosDetalhe {
	text-align: center;
	color: #14a114 !important;
}

.AnuncieTabelaPlanosPreco {

}

.AnuncieTabelaPlanosPreco h5 {
	font-size: 15px;
	margin-bottom: 7px;
}

.AnuncieTabelaPlanosPreco h6 {
	font-size: 37px;
    font-weight: 600;
	color: #ffde00;
	margin-bottom: 20px;
}

.AnuncieTabelaPlanosPrecoGratuito h6 {
	font-size: 26px;
	color: #ffde00;
}

.AnuncieTabelaPlanosPreco h6 span {
	font-size: 15px;
}

.AnuncieTabelaPlanosPreco p {
	font-size: 14px;
	margin-bottom: 15px;
}

.AnuncieTabelaPlanosPreco img {

}

.AnunciarBtn {
	padding-top: 30px;
    text-align: center;
}

.AnunciarBtn a {
	background-color: #ffc000;
    padding: 9px 38px;
    border-radius: 5px;
    color: #FFF;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
   -moz-transition: .25s ease-in-out;
   -webkit-transition: .25s ease-in-out;
}

.AnunciarBtn a:hover {
	background-color: #ffa200;
}


/***** POLITICA DE PRIVACIDADE *****/

.BannerPolitPriv {
	height: 40px;
	color: #fff;
    font-size: 42px;
    font-weight: 300;
	padding: 60px;
	text-align: center;
	background-size: cover;
}

.PolitPriv {
	padding: 70px 0;
    font-size: 17px;
    color: #6b6b6b;
    line-height: 24px;
    width: 70%;
}

.PolitPriv span {
	font-weight: bold;
}


/***** QUEM SOMOS *****/

.BannerQuemSomos {
	height: 40px;
	color: #234f86;
    font-size: 42px;
    font-weight: 300;
	padding: 60px;
	text-align: center;
	background-size: cover;
}

.QuemSomos {
	padding: 70px 0;
    font-size: 17px;
    color: #6b6b6b;
    line-height: 24px;
    width: 70%;
}

.QuemSomos h2 {
	font-size: 25px;
	color: #234f86;
	font-weight: bold;
}

.QuemSomos span {
    font-weight: 600;
    color: #353535;
}

.QuemSomos a {
	color: #ffc000;
	font-weight: 600;
}

.QuemSomos a:hover {
	text-decoration: underline;
}

/********** Registro *************/

.RegistroAjusteCampos {
    margin-bottom: 5px;
}

.RegistroAjusteCombo {
    margin-bottom: 10px;
}

.RegistroAjusteCombo input {
	border-radius: 3px;
    border: 1px solid #cecece;
    height: 35px;
    width: 350px;
    padding: 5px 13px;
}

.campoObrigatorio {
	font-family: 'Open Sans', sans-serif;
    font-size: 12px !important;
    color: #6d6d6d;
}

.checkbox {
	font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #6d6d6d;
	line-height: 9px;
	margin: 14px 0;
}

.checkbox {
line-height: 16px !important;
}

.RegistroTexto {
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    font-size: 14px;
    line-height: 21px;
    color: #5f5f5f;
}

.form-horizontal {
	text-align: center;
    margin-top: 35px;
    background-color: #fcfcfc;
    padding: 20px;
    border: 1px solid #eee;
	font-size: 14px;
}

.file-upload-buttons {
    margin-bottom: 28px;
}

.file-upload-buttons a {
	color: #4451ae;
    text-decoration: underline;
    font-size: 14px;
}

.DetalheEntrarContato {
	font-size: 12px;
    padding: 20px 0 0 0;
    line-height: 17px;
    color: #4d4d4d;
}

.form-full {
    width: 100%;
	padding: 80px 0;
}

p.errormessage {
    font-size: 12px;
    color: red;
}

.diverrors {
    padding: 0px 28px;
}

/************* CADASTRO ****************/

legend {
	color: #2a4c91;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 25px;
}

.form-cupom p {
    padding: 16px 0 0 0 !important;
    color: #000 !important;
}

.form-group {
    margin-bottom: 17px;
}

.form-group label {
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

.form-group input {
	border: 1px solid #A2A2A2;
	margin: 7px 0px 12px 0px;
	font-weight: 300;
}

.form-group textarea {
	border: 1px solid #A2A2A2;
	margin: 7px 0px 12px 0px;
	width: 50%;
	font-weight: 300;
}


.form-group-voluntarios label {
    color: #000;
    font-size: 15px;
    font-weight: 400;
}

.form-group-voluntarios input {
  border: 1px solid #A2A2A2;
  margin: 7px 0px 12px 0px;
  width: 50%;
  font-weight: 300;
}

.form-group-voluntarios textarea {
  border: 1px solid #A2A2A2;
  margin: 7px 0px 12px 0px;
  width: 50%;
  font-weight: 300;
}


.checkbox input {
	width: 22px;
	margin: 0px 0px 0px 0px;
}

.checkbox label {
	color: #838383;
    font-size: 13px;
}

button {
	border: none;
    background-color: #184984;
    padding: 12px 33px;
    border-radius: 5px;
    color: #fff;
	cursor: pointer;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
	
	button:hover {
		background-color: #103b6f;
		}

.Resultado {
	font-size: 13px;
    color: #646464;
    margin-bottom: 15px;
}

/**** LOGIN ****/

#loginModel_Username {
  border: 1px solid #b7b7b7;
}
#loginModel_Password {
  border: 1px solid #b7b7b7;
	    border-radius: 3px;
    height: 35px;
    width: 350px;
    padding: 5px 13px;
}
.esqueceu a {
	font-size: 12px;
	color: #2b6dc1;
    padding: 0;
}
.esqueceu a:hover {
	background: none;
    text-decoration: underline;
}


/**** LOGADO ****/

.btnLogout {
    font-size: 10px;
    background-color: #232323;
    border-radius: 0;
    padding: 0;
    color: #ffc000;
    margin-right: 20px;
}
.btnLogout:hover {
	background-color: #232323;
	color:#fff;
}
.form-full p {
    padding: 16px 0;
    font-size: 13px;
    color: #1c559c;
}
.pagamentos {    
	padding: 30px 20px;
	background-color: #fdfdfd;
    margin-top: 57px;
    border: 1px solid #dcdcdc;
}
.pagamentos h1 {
    font-size: 34px;
    margin-bottom: 25px;
}
.pagamentos h2 {
	font-size: 19px;
    color: #17c117;
    margin-bottom: 6px;
}
.pagamentos h3 {
    font-size: 19px;
    color: #ffb300;
    padding-top: 6px;
    margin-bottom: 6px;
}
.pagamentos p {
    font-size: 13px;
    color: #717171;
}
.form-group select {
    padding: 13px 61px;
    border-radius: 3px;
    border: 1px solid #cecece;
}
.form-horizontal fieldset {
    margin-top: 15px;
}
.pos_cadastro {
    padding: 80px 0;
    font-size: 16px;
    color: #6b6b6b;
}
.pos_cadastro a {
	color: #ffc000;
}
.pos_cadastro a:hover {
	text-decoration: underline;
}
.pagamentos_pendente {    
	padding: 30px 20px;
	background-color: #fdfdfd;
    margin-top: 57px;
    border: 1px solid #dcdcdc;
}
.pagamentos_pendente h1 {
    padding: 7px;
}
.FormCheck {    
	float: left;
    margin-right: 11px;
}
@media only screen and (max-width: 1150px){
	
	.ContainerConteudo {
		width: 100%;
		padding: 30px 20px 0px 20px;
		-webkit-box-sizing:border-box;
		        box-sizing:border-box;
	}
	footer .ContainerConteudo {
		overflow:hidden;
	}
	.BannerPrincipalBarraBusca {
	    width: 100%;
	    padding:30px 20px 0 20px;
	    -webkit-box-sizing:border-box;
	            box-sizing:border-box;
	}
	.BannerPrincipalCategorias {
	    width: 100%;
	    padding-left: 20px;
	    padding-right: 20px;
	    -webkit-box-sizing: border-box;
	            box-sizing: border-box;
	}
	.BannerRodapeCategorias {
	   width: 100%;
	   padding-left: 20px;
   	   padding-right: 20px;
       -webkit-box-sizing: border-box;
               box-sizing: border-box;
	}
	.CarrosselImagens {
		width: 100%;
	   padding-left: 20px;
   	   padding-right: 20px;
       -webkit-box-sizing: border-box;
               box-sizing: border-box;
	}
	.CarrosselGeral {
		width: 100%;
		padding-left: 20px;
   	   padding-right: 20px;
       -webkit-box-sizing: border-box;
               box-sizing: border-box;
	}
	.InternaBarraBusca {
	    width: 100%;
	    padding-left: 20px;
   	   padding-right: 20px;
       -webkit-box-sizing: border-box;
               box-sizing: border-box;
	}

	
}
@media only screen and (max-width: 1024px){
	.BannerPrincipalBarraBusca .esquerda, .BannerPrincipalBarraBusca .direita{
		float:none;
		display: block;
	}
	.BannerPrincipalLinks img {
	display: block;
	margin: 0 0 10px 0;
	text-align: center;
	}
	.BannerPrincipalLinks ul {
		margin: 5px 0 0 0;
	}
	.BannerPrincipalLinksEspaco {
	}
	.acompanhe{
		display:block;
	}
}
@media only screen and (max-width: 992px){
}
@media only screen and (max-width: 768px){
	.BannerPrincipalCategorias {
	padding-top: 50px;
	}
	.BannerPrincipalBarraBusca {
	    padding:10px 20px 0 20px;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	    text-align: center;
	}
	.BannerPrincipalBarraBusca .esquerda img{
		max-width:100%
	}
	.BannerPrincipalBarraBusca .esquerda, .BannerPrincipalBarraBusca .direita{
		-webkit-box-flex:1;
		    -ms-flex-positive:1;
		        flex-grow:1;
		margin:0px;
	}
	.BannerPrincipalBarraBusca .direita{
		margin-top: 50px;
	}
	.BgCidade {
	height: 550px;
	}
	.HeaderMenuSup a {
		padding: 8px 8px;
	}
	.HeaderMenuSup .direita{
		float:none;
		display: inline-block;
	}
	.DestaquePrincipalPosition {
		width: 50%;
		text-align: center;
	}
	.EmpresaDestaque{
		width:50%;
	}
	.EmpresaDestaque:nth-child(3n+0) {
   		padding-right: 20px;
 }
	.rodape {
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		    -ms-flex-direction:column;
		        flex-direction:column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		text-align:center;
	}
	.rodape .RodapeModulo{
		/* width:100%; */
	}
	.RodapeBlocoUm{
		width:100%;

	}
	.RodapeBlocoDois{
		width:100%;
	}
	.RodapeBlocoDois ul{
		margin:40px 0px;
		padding:0px;
	}
	.RodapeBlocoDois ul li{
		margin:15px 0px;
	}
	.RodapeBlocoTres{
		margin: 0px 0px;
		padding: 0px 0px;
	}
	.RodapeBlocoQuatro{
		margin: 0px 0px;
		padding: 0px 0px;
	}
	.RodapeBlocoQuatro a{
		display:inline-block;
		margin:15px 10px 5px 10px;
	}
}
@media only screen and (max-width: 480px){
	.DestaquePrincipalPosition {
		width: 100%;
	}
	.EmpresaDestaque{
		width:100%;
	}
}