/** Reset e tgs html5 **/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.clear {
  clear: both;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
}
/** Fim Reset e tgs html5 **/
/*** TAGS **/
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@media (max-width: 340px) {
  body {
    font-size: 13px;
  }
}
body.open {
  overflow: hidden;
}
address {
  font-style: normal;
}
h1 {
  font-size: 1.75rem;
  font-weight: 200;
}
p {
  margin: 1em 0;
  line-height: 1.4em;
  color: #6c6c6c;
}
input[type='text'] {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
img {
  max-width: 100%;
}
@media (max-width: 340px) {
  p,
  h1,
  h2,
  h3,
  h4,
  a {
    word-wrap: break-word;
  }
}
/*** FIM TAGS **/
/*** Componentes **/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.8);
  top: 0px;
  left: 0px;
  z-index: 1;
}
.overlay_pop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0px;
  left: 0px;
  z-index: 9999;
}
@media only screen and (max-width: 992px) {
  .overlay_pop {
    display: none;
    position: fixed;
  }
}
.pop_up {
  min-width: 50%;
  min-height: 300px;
  position: absolute;
  background-color: #fff;
  padding: 0;
  margin-left: -25%;
  left: 50%;
  top: 50px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
}
@media only screen and (max-width: 992px) {
  .pop_up {
    width: 100%;
    height: 100%;
    margin-left: 0 !important;
    left: 0 !important;
    top: 0 !important;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
}
.pop_up .conteudo {
  margin: 0px;
  padding: 0px;
  max-height: 80vh;
  overflow: auto;
}
.pop_up iframe {
  display: block;
  margin: 0px;
  padding: 0px;
}
@media only screen and (max-width: 992px) {
  .pop_up iframe {
    width: 100%;
  }
}
.pop_up .header {
  padding: 20px 40px;
  background-color: #f7f7f7;
  max-height: 20vh;
}
.pop_up .header h2 {
  margin: 0px;
  padding: 0 30px 0 0;
  font-weight: 300;
  font-size: 1.75rem;
}
@media (max-width: 768px) {
  .pop_up .header h2 {
    font-size: 1.3rem;
  }
}
.pop_up .fechar {
  position: absolute;
  display: table;
  font-weight: 200;
  right: 15px;
  top: 8px;
  cursor: pointer;
  font-size: 38px;
}
@media (max-width: 992px) {
  .pop_up .fechar {
    right: 10px;
    top: 10px;
  }
}
.pop_up .icone_fechar {
  width: 30px;
  height: 30px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.video {
  cursor: pointer;
}
/*** Banner Cases **/
.banner_cases {
  position: relative;
}
.banner_cases .conteudo_case {
  float: left;
  color: #fff;
  padding: 50px 0;
}
@media (max-width: 1024px) {
  .banner_cases .conteudo_case {
    margin-left: 40px;
    width: 35%;
  }
}
@media (max-width: 768px) {
  .banner_cases .conteudo_case {
    width: 100%;
    max-width: 100%;
    float: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px;
    padding: 20px;
  }
}
@media (max-width: 340px) {
  .banner_cases .conteudo_case {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .banner_cases .conteudo_case_info {
    width: 50%;
    padding: 0 2px 0 2%;
  }
}
@media (max-width: 480px) {
  .banner_cases .conteudo_case_info {
    width: 60%;
  }
}
.banner_cases h3 {
  font-size: 0.812rem;
  text-transform: uppercase;
  margin: 0;
  opacity: 0.6;
}
@media (max-width: 768px) {
  .banner_cases h3 {
    margin: 0px 0 5px 0;
  }
}
.banner_cases p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  position: relative;
  padding-top: 40px;
  margin: 0 0 10px 0;
}
@media (max-width: 1024px) {
  .banner_cases p {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .banner_cases p {
    margin: 0px;
    padding: 0px;
  }
}
.banner_cases p .quote {
  position: absolute;
  top: 0;
  left: -80px;
}
@media (max-width: 1024px) {
  .banner_cases p .quote {
    width: 40px;
    left: -40px;
  }
}
@media (max-width: 768px) {
  .banner_cases p .quote {
    display: none;
  }
}
.banner_cases .mais_cases {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 20px 25px;
  margin: 40px 0 0 0;
  color: #fff;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
@media (max-width: 768px) {
  .banner_cases .mais_cases {
    width: 100%;
    margin: 30px 2% 0 10px;
  }
}
.banner_cases .mais_cases:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}
.banner_cases .flex-direction-nav {
  position: absolute;
  margin: 0;
  top: 0px;
  width: 100%;
}
.banner_cases .flex-direction-nav li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 405px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
}
.banner_cases .flex-direction-nav li.flex-nav-next {
  right: 25px;
}
.banner_cases .flex-direction-nav li.flex-nav-prev {
  left: 25px;
}
.banner_cases .flex-direction-nav a {
  color: #fff;
  font-size: 3rem;
  opacity: 0.7;
}
.link_video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
@media (max-width: 768px) {
  .link_video {
    height: 70%;
  }
}
.link_video:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.link_video:hover .fa {
  background-color: rgba(255, 255, 255, 0.5);
}
.link_video .fa {
  width: 101px;
  height: 101px;
  color: #fff;
  font-size: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 5px solid #fff;
  -webkit-border-radius: 101px;
  border-radius: 101px;
  text-indent: 4px;
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
}
.cliente {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .cliente {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .cliente {
    width: 40%;
    border: 1px solid #ccc;
  }
}
@media (max-width: 340px) {
  .cliente {
    text-align: center;
    border: 0px;
  }
}
.cliente h4 {
  font-size: 0.87rem;
  font-weight: 400;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 0 0 10px;
}
@media (max-width: 340px) {
  .cliente h4 {
    margin: 0px;
    width: 100%;
    font-weight: bold;
  }
}
.cliente h4 span {
  display: block;
  font-size: 0.82rem;
  font-weight: 300;
}
.cliente .logo {
  width: 105px;
  height: 55px;
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
}
@media (max-width: 768px) {
  .cliente .logo {
    height: auto;
  }
}
@media (max-width: 480px) {
  .cliente .logo {
    display: none;
  }
}
.cliente .logo img {
  max-width: 95%;
}
@media (max-width: 340px) {
  .resposivo-width,
  .banner_cases .conteudo_case_info,
  .banner_cases .mais_cases,
  .cliente {
    width: 100%;
    margin: 20px 0px 0px 0px;
    text-align: center;
  }
}
.slide_cases li {
  width: 100%;
  height: 455px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
}
@media (max-width: 768px) {
  .slide_cases li {
    height: 600px;
    -webkit-background-size: auto 60%;
    background-size: auto 60%;
    background-position: top center;
    background-repeat: no-repeat;
  }
}
@media (max-width: 480px) {
  .slide_cases li {
    -webkit-background-size: auto 50%;
    background-size: auto 50%;
  }
}
.slide_cases li .container {
  position: relative;
  z-index: 99;
}
@media (max-width: 768px) {
  .slide_cases li .container {
    max-width: 100%;
    height: 40%;
    background-color: #333;
    margin: 0px;
    padding: 0px;
    position: absolute;
    bottom: 0;
  }
}
@media (max-width: 480px) {
  .slide_cases li .container {
    height: 50%;
  }
}
.fa-play.border-radius {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 1%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 3.5px solid #000;
}
/*** Fim Componentes **/
/*** Master Page **/
header {
  padding: 20px 0;
}
header .logo img {
  width: 100px;
}
.icon-mobile {
  display: none;
  float: right;
  width: 45px;
  margin-top: 20px;
}
@media (max-width: 480px) {
  .icon-mobile {
    display: block;
  }
}
.icon-mobile span {
  width: 100%;
  height: 5px;
  margin-bottom: 8px;
  display: block;
  background: #222;
}
.open .icon-mobile span {
  display: none;
}
.open .icon-mobile {
  position: fixed;
  z-index: 900;
  right: 0;
  top: 0;
  margin: 20px 20px 0 0;
}
.open .icon-mobile:after {
  content: "x";
  display: table;
  font-size: 40px;
  color: #545454;
  line-height: 0px;
  margin: 10px 0 0 0;
  font-weight: 700;
}
.menu {
  float: right;
}
@media (max-width: 768px) {
  .menu {
    float: none;
  }
}
@media (max-width: 480px) {
  .menu {
    float: right;
  }
}
.menu ul {
  margin: 34px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -ms-transition: .4s;
}
@media (max-width: 480px) {
  .menu ul {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 800;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    margin: 0px;
    padding: 50px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    -ms-transition: .4s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: column;
  }
}
.menu li {
  margin: 0 15px;
}
@media (max-width: 480px) {
  .menu li {
    display: block;
    float: none;
  }
}
.menu li:hover .sub-menu {
  display: block;
}
.menu a {
  display: block;
  font-size: 0.9rem;
  color: #000;
  font-weight: normal;
  padding: 10px;
}
@media (max-width: 480px) {
  .menu a {
    width: 100%;
    height: auto;
    display: block;
  }
}
.menu .sub-menu {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0px 0 0 0;
  background: #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 9999;
}
@media (max-width: 480px) {
  .menu .sub-menu {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 10px 15px;
  }
}
.menu .sub-menu li {
  padding: 4px 10px;
  display: float;
}
@media (max-width768px) {
  .menu .sub-menu li {
    padding: 10px;
  }
}
.menu .sub-menu li a {
  color: #fff;
}
.open .menu ul {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.open .menu li {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.open .menu a {
  text-align: center;
  padding: 10px 0;
}
#banner {
  width: 100%;
  height: 368px;
  background-image: url(../images/banner-home.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
#banner .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#banner h1 {
  max-width: 710px;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  padding: 0px 20px;
}
@media (max-width: 480px) {
  #banner h1 {
    font-size: 1.4rem;
  }
}
.rodape {
  background: #1d1d1d;
  padding: 40px 0 75px 0;
  color: #d3d3d3;
}
.rodape .logo {
  width: 104px;
  height: 68px;
}
@media (max-width: 768px) {
  .rodape .row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.rodape .col-md-3 {
  padding: 30px 30px 0 0;
}
@media (max-width: 768px) {
  .rodape .col-md-3 {
    padding: 30px 0px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}
.redes_sociais.col-md-3 {
  padding-top: 0px;
}
.redes_sociais.col-md-3 li {
  padding: 4px 0;
  margin: 20px 0;
}
@media (max-width: 768px) {
  .redes_sociais.col-md-3 li {
    margin: 15px 0;
  }
}
@media (max-width: 768px) {
  .redes_sociais.col-md-3 li span {
    display: block;
    margin-bottom: 15px;
  }
}
.redes_sociais.col-md-3 a {
  width: 19px;
  height: 19px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 5px;
  opacity: 0.5;
}
@media (max-width: 768px) {
  .redes_sociais.col-md-3 a {
    margin: 0 10px;
  }
}
.redes_sociais.col-md-3 .youtube {
  background-image: url(../images/icon-youtube.png);
}
.redes_sociais.col-md-3 .facebook {
  background-image: url(../images/icon-facebook.png);
}
.redes_sociais.col-md-3 .twitter {
  background-image: url(../images/icon-twitter.png);
}
.redes_sociais.col-md-3 h4 {
  font-size: 0.7rem;
}
.menu_rodape {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px;
}
.menu_rodape a {
  color: #d3d3d3;
  font-size: 0.82rem;
}
.newsletter p {
  margin: 0px;
  font-size: 0.82rem;
}
.newsletter .input-group-btn {
  margin: 10px 0px;
}
.newsletter .input-group-btn input[type='text'] {
  width: 80%;
  background-color: #303030;
  color: #999999;
  font-size: 0.6rem;
}
.newsletter .input-group-btn .btn {
  padding: 5px 8px;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  font-size: 0.6rem;
  text-transform: uppercase;
}
.dados_contato li {
  margin: 10px;
}
.dados_contato li img {
  margin: 0 10px 0 0;
}
.sub_rodape {
  background: #161616;
  color: #a0a0a0;
  padding: 0px;
}
.sub_rodape .container {
  display: block;
}
.sub_rodape p {
  font-size: 0.8em;
  display: inline-block;
}
.sub_rodape .copyright {
  font-weight: 300;
}
/*** Fim Master Page **/
/*** Home Page **/
#home h2 {
  font-size: 2.5rem;
  color: #000;
  text-align: center;
  font-weight: 300;
}
.intro {
  margin-top: 80px;
  margin-bottom: 40px;
}
.intro p {
  font-size: 1.25rem;
  text-align: center;
}
.lista_socios {
  margin-bottom: 110px;
}
.lista_socios .col-md-4 {
  padding: 0 30px;
}
@media (max-width: 480px) {
  .lista_socios .col-md-4 {
    padding: 0 10px;
  }
}
.socio .logo_socio {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.socio .logo_socio img {
  width: auto;
  height: auto;
}
.socio .logo_socio img {
  width: auto;
  height: auto;
}
.socio p {
  font-size: .9rem;
  font-weight: 400;
}
.socio .links {
  margin: 20px 0 0 0;
}
.socio .links .btn {
  background-color: #474747;
  color: #fff;
  font-size: 0.75rem;
  padding: 4px 15px;
}
.socio .links .site {
  color: #5d5d5d;
  margin-left: 10px;
  font-size: .7rem;
}
.clientes {
  margin-top: 110px;
}
.clientes h2 {
  margin-bottom: 0px;
  text-align: center;
}
.clientes p {
  font-size: 1.25rem;
  text-align: center;
  margin: 0px 0 50px 0;
}
.lista_clientes {
  margin: 0 10px 150px 10px;
  position: relative;
  overflow: hidden;
}
.lista_clientes .flex-viewport {
  padding: 0px;
  margin: 0px 15px;
}
.lista_clientes .slides li div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 174px;
  height: 96px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #ccc;
}
.lista_clientes .flex-direction-nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  /* overflow: visible;
*/
}
.lista_clientes .flex-direction-nav li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
}
.lista_clientes .flex-direction-nav li.flex-nav-next {
  right: 0px;
}
.lista_clientes .flex-direction-nav a {
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 25px;
  border: 1px solid #212121;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #212121;
  cursor: pointer;
}
.lista_clientes .flex-direction-nav a.flex-prev:after {
  display: block;
}
/*** Fim Home Page **/
@media (max-width: 768px) {
  /*** Home Page **/
  #home .lista_socios .col-md-4 {
    margin-bottom: 40px;
  }
  .socio .links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .socio .links .btn {
    padding: 15px;
    margin-bottom: 20px;
  }
  .socio .links {
    text-align: center;
  }
  /*** Fim Home Page **/
}
/*** Contato Page **/
.contato {
  max-width: 980px;
  margin: 0;
  padding: 50px 30px;
}
.contato p {
  font-size: 1rem;
}
.contato form .form-control {
  font-size: 0.75rem;
  padding: 10px;
  height: auto !important;
  border-color: #afafaf;
  color: #000;
}
.contato form textarea {
  min-height: 140px;
}
.contato form .btn {
  background-color: #000;
  color: #fff;
}
.contato ul.contatos {
  margin-top: 20px;
}
.contato ul.contatos li {
  margin: 15px 0;
}
.contato ul.contatos li img {
  margin: 0 15px 0 0;
}
/*** Fim Contato Page **/
/*** Institucional Page **/
#banner.institucional {
  height: 200px;
}
#banner.institucional .container {
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
  position: relative;
}
#banner.institucional h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}
.institucional .conteudo {
  padding-top: 120px;
  padding-bottom: 120px;
}
.conteudo p {
  font-size: 1.1rem;
}
.banner_trabalhe_conosco {
  height: 610px;
  background-image: url(../images/banner_trabalhe_conosco2.jpg);
  background-position: left top ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}
@media (max-width: 1024px) {
  .banner_trabalhe_conosco {
    background-image: url(../images/banner_trabalhe_conosco_mobile.jpg);
    background-position: top center;
  }
}
@media (max-width: 768px) {
  .banner_trabalhe_conosco {
    height: auto;
    background-image: url(../images/banner_trabalhe_conosco_mobile.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;
    position: relative;
    margin: 0 30px 60px 30px;
  }
}
@media (max-width: 480px) {
  .banner_trabalhe_conosco {
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #ccc;
  }
}
.banner_trabalhe_conosco .container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  .banner_trabalhe_conosco .container {
    margin: 0;
    max-width: 100%;
    padding: 0px;
  }
}
@media (max-width: 768px) {
  .banner_trabalhe_conosco .container {
    background: transparent;
    max-width: 75%;
  }
}
@media (max-width: 480px) {
  .banner_trabalhe_conosco .container {
    max-width: 100%;
  }
}
.banner_trabalhe_conosco .conteudo {
  max-width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0px 40px 0px 100px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(10%, #ffffff), to(#ffffff));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 10%, #ffffff 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 10%, #ffffff 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 10%, #ffffff 100%);
}
@media (max-width: 768px) {
  .banner_trabalhe_conosco .conteudo {
    max-width: 100%;
    padding: 30px 25px;
    margin-top: 200px;
    display: inline-block;
    background: #fff;
  }
}
@media (max-width: 480px) {
  .banner_trabalhe_conosco .conteudo {
    max-width: 100%;
    display: inline-block;
    background: #fff;
  }
}
.banner_trabalhe_conosco .conteudo h3 {
  color: #2b2b2b;
  font-size: 2.5rem;
  font-weight: 200;
}
.banner_trabalhe_conosco .conteudo h4 {
  font-size: 1.2rem;
  font-weight: 200;
}
.banner_trabalhe_conosco .conteudo .btn {
  background: #000;
  color: #fff;
  font-size: 1rem;
  padding: 10px 15px;
  font-weight: 200;
}
/*** Fim Institucional Page **/
/*** Empresas Page **/
#banner.empresa {
  height: 215px;
}
#banner.empresa .container {
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
  position: relative;
}
#banner.empresa h2 {
  font-size: 2.5rem;
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}
#banner.empresa h2 span {
  font-size: 1.56rem;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 1px solid #fff;
  padding-left: 20px;
  margin-left: 20px;
  font-weight: 200;
}
.redes_sociais_banner {
  width: 100%;
  position: absolute;
  bottom: 10px;
  right: 0px;
}
.redes_sociais_banner a {
  display: inline-block;
  width: 29px;
  height: 29px;
  background-image: url(../images/sprite-redes-sociais.png);
  background-repeat: no-repeat;
  margin: 0 5px;
}
.redes_sociais_banner .youtube {
  background-position: 0px 0px;
}
.redes_sociais_banner .facebook {
  background-position: -38px 0px;
}
.redes_sociais_banner .twitter {
  background-position: -77px 0px;
}
.redes_sociais_banner a:hover {
  margin-bottom: 2px;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}
#empresa .conteudo {
  padding-top: 80px;
  padding-bottom: 80px;
}
#empresa .conteudo p {
  font-size: 1.07rem;
  font-weight: 200;
}
#empresa .conteudo .col-md-7 {
  padding-right: 40px;
}
#empresa .conteudo .links {
  margin-top: 20px;
}
#empresa .conteudo .links .btn {
  border: 1px solid #000000;
  color: #000000;
  padding: 10px 20px;
  margin: 0 10px 0 0;
}
/*** Fim Empresas Page **/
@media (max-width: 768px) {
  /*** Empresas Page **/
  #banner.empresa h2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: left;
    -webkit-align-items: left;
    -ms-flex-align: left;
    align-items: left;
  }
  #banner.empresa h2 span {
    border-left: 0px;
    padding-left: 0;
    margin-left: 0px;
    display: inline-block;
  }
  #empresa .conteudo .links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #empresa .conteudo .links .btn {
    margin-top: 10px;
  }
  #empresa .conteudo .col-md-7 {
    padding: 0 15px;
  }
  #empresa .conteudo .col-md-5 {
    text-align: center;
    margin-top: 40px;
  }
  /*** Fim Empresas Page **/
}
@media (max-width: 480px) {
  /*** Empresas Page **/
  #banner.empresa h2 {
    font-size: 1.8rem;
  }
  #banner.empresa h2 span {
    font-size: 1rem;
  }
  /*** Fim Empresas Page **/
}
#banner.cases {
  height: 400px;
  color: #fff;
}
@media (max-width: 440px) {
  #banner.cases {
    height: 300px;
  }
}
#banner.cases h2 {
  max-width: 610px;
  text-align: center;
  font-weight: 200;
  font-size: 1.8rem;
}
@media (max-width: 440px) {
  #banner.cases h2 {
    font-size: 1.5rem;
  }
}
#banner.cases h2 strong {
  font-weight: 600;
}
#banner.cases .fa-play {
  width: 100px;
  height: 100px;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 1%;
  margin: 0 auto 30px auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 4px solid #fff;
}
.filtro-cases {
  background-color: #121212;
  color: #fff;
  border-top: 3px solid #000;
}
.filtro-cases .container {
  max-width: 680px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 50px;
}
@media (max-width: 768px) {
  .filtro-cases .container {
    padding: 20px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.filtro-cases h4 {
  font-size: .9rem;
  line-height: 1em;
  margin: 0px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.filtro-cases ul {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (max-width: 768px) {
  .filtro-cases ul {
    margin: 30px 0 10px 0;
  }
}
@media (max-width: 480px) {
  .filtro-cases ul {
    text-align: center;
  }
}
.filtro-cases li {
  font-size: .9rem;
  line-height: 1em;
  margin: 0 15px;
  cursor: pointer;
}
.lista_cases {
  padding: 40px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.lista_cases .grid {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.lista_cases .texto_info_cases {
  max-width: 600px;
  font-size: 1.75rem;
  text-align: center;
}
.case .overlay {
  display: none;
}
@media (max-width: 768px) {
  .case {
    margin-bottom: 20px;
    max-width: 367px;
    left: auto !important;
  }
}
.case .cliente {
  padding-top: 20px;
}
@media (max-width: 768px) {
  .case .cliente {
    min-width: 100%;
    border: 0px;
  }
}
.case .cliente .logo {
  height: 70px;
  border: 1px solid #ccc;
}
@media (max-width: 992px) {
  .case .cliente .logo {
    width: 80px;
  }
}
@media (max-width: 480px) {
  .case .cliente .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.case .cliente h4 {
  font-weight: bold;
  font-size: 0.9rem;
}
.case .cliente h4 span {
  font-size: 0.75rem;
}
.case .cliente .autor {
  margin-top: 5px;
  font-size: .57rem;
  text-transform: uppercase;
}
.case .thumb_video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.case .thumb_video .fa-play {
  width: 80px;
  height: 80px;
  font-size: 2rem;
  position: absolute;
  z-index: 999;
  color: #fff;
  border-color: #fff;
}
