<div class="contato row">
	<div class="col-md-6">
		<p>Seu contato é muito importante para o Grupo PIX. Preencha o formulário e solicite mais informações sobre nossos produtos, tire dúvidas e nos envie sugestões para melhorarmos a cada dia mais e prestar o melhor serviço para nossos parceiros.</p>
		<ul class="contatos">
			<li>
				<img src="images/icon-email-p.png" alt="icone fale conosco">
				<span><a href="mailto:contato@grupopix.com.br" >contato@grupopix.com.br</a></span>
			</li>
			<li>
				<img src="images/icon-phone-p.png" alt="icone telefone">
				<span>(55 11) 3333.3333</span>
			</li>
		</ul>
	</div>
	
	<form class="form col-md-6">
		<fieldset>
			<ul>
				<li class="form-group">
					<input type="text" class="form-control" id="nome"  name="nome" placeholder="Nome" />
				</li>
				<li class="form-group">
					<input type="text" class="form-control" id="email"  name="email" placeholder="E-mail" />
				</li>
				<li class="form-group form-row">
					<div class="col">
						<input type="text" class="form-control" id="telefone"  name="telefone" placeholder="Telefone" />
					</div>
					<div class="col">
						<select class="form-control">
							<option value="">Estado</option>
						</select>
					</div>
				</li>
				<li class="form-group">
					<select class="form-control">
						<option value="">Assunto</option>
					</select>
				</li>
				<li class="form-group">
					<textarea class="form-control" id="mensagem" name="mensagem" placeholder="Deixe sua mensagem" ></textarea>
				</li>
			</ul>
		</fieldset>
		<input type="submit" value="Enviar" class="btn" />
	</form>
</div>